.page {
  background-color: #fff;
  height: auto;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .page__content {
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-size: contain;
  }
}

@media (max-width: 480px) {
  .page__content {
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-size: contain;
  }
}
