.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6f7;
  width: 100%;
  min-height: 974px;
  padding-bottom: 80px;
}

.cards__title {
  align-self: flex-start;
  padding: 80px 0 64px 70px;
  margin: 0;
  font-family: Roboto Slab, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #1a1b22;
}

.cards__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  margin: 0 auto 62px;
  padding: 0 16px;
  height: auto;
  box-sizing: border-box;
}

.cards__show-more {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.cards__show-more-btn {
  width: 288px;
  height: 64px;
  border-radius: 100px;
  border: 1px solid #bbb;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.2s ease;
  margin-bottom: 80px;
}

.cards__show-more-btn:hover {
  background-color: #f1f1f1;
}

.cards__empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cards__empty-img {
  display: block;
  margin: 0 auto;
}

.cards__empty {
  font-family: Roboto Slab, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #1a1b22;
  margin: 16px 0 0;
}

.cards__empty-sorry {
  font-family: Roboto Slab, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #6c707a;
  margin-top: 12px;
}

.card {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  height: 576px;
}
.card__link {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.card__image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #f5f6f7;
}

.card__image {
  width: 100%;
  height: 272px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

.card__text-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 0;
}
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 16px 0 16px;
  margin: 0;
  flex-grow: 1;
}

.card__date {
  color: #b6bcbf;
  margin-top: 0;
  padding: 0;
  font-family: Source Sans Pro, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.card__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  flex-grow: 1;
}

.card__name {
  margin: 0;
  padding: 0;
  font-family: Roboto Slab, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 26px;
  leading-trim: NONE;
  color: #1a1b22;
  margin-bottom: 16px;
  max-height: calc(28px * 2);
  overflow: hidden;
}

.card__description {
  margin: 0;
  padding: 0;
  color: #1a1b22;
  font-family: Roboto Slab, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  leading-trim: NONE;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

.card__footer {
  color: #b6bcbf;
  font-family: Roboto Slab, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-top: 24px;
  padding: 0 16px 0 0px;
}
.saved-news-articles__list {
  margin-top: 62px;
}
.card__save-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  background-image: url("../../assets/Savebtn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  border: none;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.card__save-button_active {
  background-image: url("../../assets/savedButton.svg");
}

.card__save-button_disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.card__save-message {
  position: absolute;
  top: 14px;
  right: 70px;
  background-color: #fff;
  color: #000;
  padding: 11px 24px;
  border-radius: 4px;
  font-size: 12px;
  font-family: Roboto Slab, Helvetica, sans-serif;
  font-weight: 500;
  z-index: 10;
}

.card__delete-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  background-image: url("../../assets/DeleteBtnLight.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  border: none;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  z-index: 20;
  transition: opacity 0.3s ease;
}

.card__delete-button:hover {
  background-image: url("../../assets/DeleteBtn.svg");
}

.card__delete-message {
  position: absolute;
  top: 12%;
  right: 70px;
  transform: translateY(-50%);
  background-color: #fff;
  color: #000;
  padding: 12px;
  border-radius: 4px;
  font-size: 12px;
  font-family: Roboto Slab, Helvetica, sans-serif;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
}
.card__keyword {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  left: 24px;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 700;
  font-family: Cabinet Grotesk, Helvetica, sans-serif;
  z-index: 10;
  white-space: nowrap;
  width: auto;
  height: 40px;
  opacity: 1;
  border-radius: 10px;
  margin: 0;
  padding: 0 22px 0px;
}

.card__OnClick {
  cursor: pointer;
}

.card__OnClick:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

@media (max-width: 768px) {
  .cards {
    max-width: 100%;
    padding-bottom: 0;
  }

  .cards__list {
    gap: 8px;
    margin: 0 40px;
    padding: 0;
  }

  .card {
    max-width: 224px;
    height: 420px;
    display: flex;
    flex-direction: column;
  }

  .card__image {
    height: 150px;
  }

  .card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 16px 0 16px;
    margin: 0;
    flex: 1;
  }

  .card__text-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin: 0;
  }

  .card__date {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

  .card__name {
    font-weight: 400;
    font-size: 22px;
    width: 192px;
    max-height: calc(30px * 1.2 * 2);
    overflow: hidden;
    white-space: normal;
    margin: 0;
    padding: 0;
  }

  .card__description {
    font-size: 16px;
    width: 192px;
    margin: 0;
    padding: 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }

  .card__footer {
    padding: 0 16px 16px 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .cards__show-more-btn {
    margin-bottom: 40px;
  }

  .cards__title {
    font-size: 32px;
    padding: 60px 0 40px 40px;
  }

  .card__keyword {
    text-align: center;
    height: 40px;
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .cards {
    max-width: 430px;
    padding-bottom: 0;
  }

  .cards__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    gap: 12px;
    margin: 0 16px;
    padding: 0;
    box-sizing: border-box;
  }

  .card {
    width: 100%;
    max-width: 360px;
    height: 500px;
  }

  .card__image {
    height: 196px;
  }

  .card__keyword {
    text-align: left;
    height: auto;
    padding: 4px 8px;
    font-size: 14px;
  }

  .card__name {
    font-size: 18px;
    width: 100%;
  }

  .card__description {
    font-size: 16px;
  }

  .cards__show-more-btn {
    margin: 24px auto 40px;
    width: 90%;
    width: 360px;
  }
  .card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 16px 0 16px;
    margin: 0;
    flex: 1;
  }

  .card__text-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin: 0;
  }

  .card__date {
    color: #b6bcbf;
    margin-top: 0;
    padding: 0;

    font-size: 12px;
    line-height: 16px;
  }

  .card__name {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
  }

  .card__description {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
  }

  .card__footer {
    padding: 0 16px 16px 0;

    font-size: 14px;
    line-height: 18px;
  }
  .card__date {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  .card {
    width: 100%;
    max-width: 288px;
    height: 440px;
  }
}
